@import "tailwindcss";
@import "./slim-select";
@import "./navigation";
@import "./tables";
@import "./pagination";
@import "./images";

@theme {
  --font-icn:
    "Noto Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-sans: "Bricolage Grotesque", sans-serif;
  --icon-chevron: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20class%3D%22size-6%22%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m19.5%208.25-7.5%207.5-7.5-7.5%22%2F%3E%3C%2Fsvg%3E);
}

/* To rule them all */
@layer base {
  html {
    @apply antialiased scroll-smooth;
  }

  :focus-visible {
    @apply outline-dashed outline-2 outline-offset-2 outline-gray-300;
  }

  a,
  input[type="submit"],
  input[type="button"],
  button {
    @apply cursor-pointer font-medium no-underline inline-flex items-center justify-center gap-2 px-2 py-2 rounded-sm bg-gray-100 hover:bg-gray-200 transition-all duration-150;
  }

  input[type="file"] {
    @apply border-0 -ml-3 file:cursor-pointer file:bg-gray-100 file:text-black file:py-2 file:mr-4 file:font-medium file:px-3 file:rounded-full file:hover:bg-gray-200;
  }

  input[type="submit"] {
    @apply bg-blue-600 hover:bg-blue-700 text-white rounded-full px-3 w-fit;
  }

  label {
    @apply block font-medium text-gray-900 mt-6 mb-2;
  }

  select,
  input,
  .ss-main {
    @apply appearance-none w-full pl-3 pr-10 py-2 cursor-pointer border-1 border-gray-300/80 rounded-sm;
  }

  select:not([multiple], [size]),
  .ss-main {
    background-image: var(--icon-chevron);
    background-position: center right 0.75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  table select:not([multiple], [size]) {
    @apply hover:bg-gray-100;
  }

  .ss-main .ss-values .ss-single {
    @apply ml-0;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-extrabold text-gray-800;
  }
  h1 {
    @apply text-6xl text-gray-900;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  .icn {
    @apply font-normal font-icn not-italic;
  }

  .btn-rounded {
    @apply rounded-full px-3 border-gray-200;
  }

  .btn-red {
    @apply text-red-700 bg-red-100/60 hover:bg-red-200/60;
  }

  a.link {
    @apply inline font-normal underline p-0 bg-transparent hover:bg-transparent border-none hover:text-blue-600;
  }
}

@layer components {
  .section-border-base {
    @apply border border-gray-200/80 rounded-xl;
  }

  .section-wide {
    @apply mt-4 -mx-8;
  }
}

@layer components {
  .actions {
    @apply text-right;
  }

  .actions a:not(:first-child) {
    @apply ml-2;
  }

  .search {
    @apply px-10 pt-8 mb-8 flex justify-between;
  }
}

@layer components {
  .progress-end {
    @apply bg-lime-600!;
  }
}

@layer components {
  .cards {
    @apply flex items-center gap-6;
  }
  .card {
    @apply bg-gray-50 border border-gray-100 pl-4 pt-4 pr-10 pb-8 rounded-lg w-fit h-fit;
    h5 {
      @apply mt-4 mb-1 text-gray-500;
    }
    p {
      @apply mb-2 text-lg;
    }
  }
  .table-card {
    @apply border border-gray-200/80 rounded-lg;
    h3 {
      @apply p-3 pt-4;
    }
  }
}

@layer components {
  .gallery-nav {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    img {
      &:hover {
        transform: scale3d(1.2, 1.2, 2);
        cursor: pointer;
      }
    }
    img.active {
      @apply outline-gray-500 outline-dashed outline-offset-3;
    }
  }
  .gallery-btn {
    @apply absolute top-1/2 -translate-y-1/2 z-10 border-none w-20 min-h-83 h-full text-3xl bg-transparent text-gray-300 transition-all duration-150 hover:bg-black/20 hover:text-white;
  }
}
