/* === Imports === */
@import "tailwindcss";
@import "./fonts";
@import "./slim-select";

/* === Theme variables === */
@theme {
  --font-icn:
    "Noto Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-sans: "Bricolage Grotesque", sans-serif;
  --icon-chevron: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20class%3D%22size-6%22%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m19.5%208.25-7.5%207.5-7.5-7.5%22%2F%3E%3C%2Fsvg%3E);
  --icon-chevron-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='oklch(70.7% .022 261.325)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
}

/* === Base styles === */
@layer base {
  /* Global */
  html {
    @apply antialiased scroll-smooth;
  }
  :focus-visible {
    @apply outline-dashed outline-2 outline-offset-2 outline-gray-300 dark:outline-gray-500;
  }
  body,
  dialog {
    @apply dark:bg-gray-900 dark:text-gray-200;
  }
  body.wbg {
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%239298ac' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  /* Typography */
  h1,
  h2,
  h3,
  h4 {
    @apply font-black text-gray-800 dark:text-gray-100;
  }
  h1 {
    @apply text-6xl text-gray-900 dark:text-gray-50;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }

  /* Links & buttons */
  a,
  input[type="submit"],
  input[type="button"],
  button {
    @apply cursor-pointer font-medium no-underline inline-flex items-center justify-center gap-2 px-2 py-2 rounded-sm bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 transition-all duration-150;
  }

  a.link {
    @apply inline underline p-0 bg-transparent hover:bg-transparent border-none hover:text-blue-600 dark:hover:text-blue-400 font-[weight:inherit];
  }

  /* Forms */
  label {
    @apply block font-medium text-gray-900 dark:text-gray-100 mt-6 mb-2;
  }

  input,
  select,
  .ss-main,
  textarea {
    @apply appearance-none w-full pl-3 pr-10 py-2 cursor-pointer border-1 border-gray-300/80 dark:border-gray-600/80 rounded-sm bg-white dark:bg-gray-800;
  }

  textarea {
    @apply min-h-24;
  }

  *:disabled {
    @apply bg-gray-950/10! dark:border-gray-800!;
  }

  select:not([multiple], [size]),
  .ss-main {
    @apply stroke-transparent;

    background-image: var(--icon-chevron-dark);
    background-position: center right 0.75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  .ss-main .ss-values .ss-single {
    @apply ml-0;
  }

  input[type="file"] {
    @apply border-0 -ml-3 file:cursor-pointer bg-transparent file:bg-gray-100 file:text-black file:py-2 file:mr-4 file:font-medium file:px-3 file:rounded-full file:hover:bg-gray-200 dark:file:bg-gray-700 dark:file:text-gray-100 dark:file:hover:bg-gray-600;
  }

  input[type="submit"],
  .btn-blue {
    @apply bg-blue-600 hover:bg-blue-700 dark:bg-blue-900! dark:hover:bg-blue-800! text-white px-3 w-fit border-transparent!;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply cursor-pointer h-5 w-5 m-0 p-0 appearance-none bg-white dark:bg-gray-800 transition-all border-2 border-gray-300 dark:border-gray-600 checked:border-blue-600 dark:checked:border-blue-500;
  }

  input[type="checkbox"] {
    @apply rounded hover:border-blue-600/60 checked:bg-blue-600 dark:checked:bg-blue-500 mt-1;
  }
  input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='4.5,12.75 10.5,18.75 19.5,5.25'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center center;
    background-size: 1.2em;
    background-repeat: no-repeat;
  }

  input[type="radio"] {
    @apply rounded-full checked:bg-white dark:checked:bg-gray-800 checked:border-6;
  }

  input[type="search"] {
    @apply w-full rounded-full px-4 py-2 border-gray-300 dark:border-gray-600;
  }

  /* Tables */
  table {
    @apply w-full border-collapse table-auto text-left border-b-1 mt-3;
  }
  thead {
    @apply border-b-4 border-gray-100 dark:border-gray-800;
  }
  th {
    @apply text-gray-600 dark:text-gray-400 align-bottom font-semibold;
  }
  th,
  td {
    @apply p-3;
  }
  tbody tr {
    @apply border-b-2 border-b-gray-100/60 dark:border-b-gray-800 hover:bg-gray-50 dark:hover:bg-gray-800/50 transition-colors duration-100 cursor-pointer;
  }
  tbody tr:last-child {
    @apply border-b-transparent;
  }
  tr.selected {
    @apply bg-amber-100 hover:bg-amber-200/80 border-b-amber-400/10 dark:bg-amber-900/50 dark:hover:bg-amber-900/70 dark:border-b-amber-900/20;
  }

  table select:not([multiple], [size]) {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700;
  }
}

/* === Icon Classes === */
@layer utilities {
  .icon-shopify {
    background-image: url("shopify-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .icon-woo {
    background-image: url("woo-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* === Components === */
@layer components {
  /* Navigation */
  nav[role="navigation-main"],
  nav[role="navigation-main"] ul {
    @apply flex items-center;
  }
  nav[role="navigation-main"] {
    @apply justify-between;
  }
  nav[role="navigation-main"] a {
    @apply text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 border-0 bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700;
  }

  nav[role="navigation-dropdown"] {
    @apply relative;
  }
  nav[role="navigation-dropdown"] > button {
    @apply p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-150 cursor-pointer;
  }
  nav[role="navigation-dropdown"]:hover > button {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  nav[role="navigation-dropdown"] ul {
    @apply flex flex-col items-start absolute right-0 top-full w-40 pt-5 pr-4 pb-7 pl-4 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-lg opacity-0 invisible transition-all duration-150 z-228;
  }
  nav[role="navigation-dropdown"]:hover ul {
    @apply opacity-100 visible text-left;
  }
  nav[role="navigation-dropdown"] li a {
    @apply w-full items-center justify-start;
  }

  .nav_header {
    @apply flex justify-between items-center text-pretty mb-5;
  }
  .nav_menu {
    @apply flex justify-end whitespace-nowrap gap-2 pt-2;
  }

  /* Buttons */
  .btn-rounded {
    @apply rounded-full px-3 border-gray-200 dark:border-gray-600;
  }
  .btn-red,
  .undo {
    @apply text-red-700 dark:text-red-300 bg-red-100/60 dark:bg-red-900/50 hover:bg-red-200/60 dark:hover:bg-red-900/70;
  }
  .undo {
    @apply bg-transparent hover:bg-transparent hover:text-red-400!;
  }
  .icn {
    @apply font-normal font-icn not-italic;
  }
  .btn-lightblue {
    @apply text-sky-700 bg-sky-100 hover:bg-sky-200/76 dark:text-sky-300 dark:bg-sky-900/50 dark:hover:bg-sky-900 px-3 w-fit border-transparent;
  }

  /* Pagination */
  .pagination {
    @apply flex items-center self-end text-center;
  }
  .pagination-top {
    @apply flex justify-end min-w-4/10;
  }
  .pagination-bottom {
    @apply flex justify-center items-center py-8 w-full h-full;
  }
  .pagination a {
    @apply whitespace-nowrap ml-2;
  }
  .pagination-list {
    @apply flex items-end;
  }
  .pagination-list li {
    @apply flex justify-end min-w-10 max-w-fit;
  }
  .pagination-link {
    @apply w-full;
  }
  .pagination-ellipsis {
    @apply w-full block ml-2;
  }
  .pagination a.is-current {
    @apply bg-gray-200 dark:bg-gray-700 text-gray-500 dark:text-gray-400 cursor-not-allowed;
  }

  /* Preloadable images */
  .preloadable-img__container {
    @apply flex justify-center items-center;
  }
  .preloadable-img__img {
    @apply block rounded-md min-h-fit max-h-full object-contain object-center transition-transform;
  }
  .preloadable-img__img.loading {
    @apply animate-pulse bg-gray-200 dark:bg-gray-700 w-200 h-100 mx-auto;
  }
  .preloadable-img__img.not-found {
    @apply w-full h-full;
  }
  .preloadable-img__img.zoomable {
    @apply duration-150 ease-out p-1;
  }
  .preloadable-img__img.zoomable:hover {
    @apply scale-300 backdrop-blur-sm shadow-lg bg-white/45 dark:bg-gray-900/45;
  }
  .preloadable-img__img.hidden {
    @apply hidden;
  }

  /* Sections & layout helpers */
  .section-border-base {
    @apply border border-gray-200/80 dark:border-gray-800 rounded-xl;
  }
  .section-wide {
    @apply mt-4 -mx-8;
  }
  .actions {
    @apply text-right;
  }
  .actions a:not(:first-child) {
    @apply ml-2;
  }
  .search {
    @apply px-10 pt-8 mb-8 flex justify-between;
  }
  .progress-end {
    @apply bg-lime-600! dark:bg-lime-500!;
  }

  /* Cards */
  .cards {
    @apply flex items-center gap-6;
  }
  .card {
    @apply bg-gray-50 dark:bg-gray-800/40 border border-gray-100 dark:border-gray-800 pl-4 pt-4 pr-10 pb-8 rounded-lg w-fit h-fit;
  }
  .card h5 {
    @apply mt-4 mb-1 text-gray-500 dark:text-gray-400;
  }
  .card p {
    @apply mb-2 text-lg;
  }
  .table-card {
    @apply border border-gray-200/80 dark:border-gray-700/80 rounded-lg;
  }
  .table-card h3 {
    @apply p-3 pt-4;
  }

  /* Gallery */
  .gallery-nav {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
  .gallery-nav img:hover {
    transform: scale3d(1.2, 1.2, 2);
    cursor: pointer;
  }
  .gallery-nav img.active {
    @apply outline-gray-500 dark:outline-gray-400 outline-dashed outline-offset-3;
  }
  .gallery-btn {
    @apply absolute top-1/2 -translate-y-1/2 z-10 border-none w-20 min-h-83 h-full text-3xl bg-transparent text-gray-300 dark:text-gray-500 transition-all duration-150 hover:bg-black/20 dark:hover:bg-gray-900/50 hover:text-white dark:hover:text-gray-100;
  }

  /* Dialogs */
  body:has(dialog[open]) {
    overflow: hidden;
  }
  dialog {
    @apply flex fixed inset-0 justify-center items-center z-[999] backdrop-blur-sm border-0 bg-gray-300/50 dark:bg-gray-800/50 p-2 w-full min-w-full h-full min-h-full;
  }
  dialog:not([open]),
  dialog[open="false"] {
    display: none;
  }
  .dialog-content {
    @apply bg-white dark:bg-gray-900 rounded-lg shadow-lg w-full max-w-3xl p-4 pb-6 -translate-y-10;
  }

  /* Forms: errors */
  .field_with_errors label,
  .field_with_errors textarea,
  .field_with_errors input {
    @apply text-red-700 dark:text-red-400 border-red-700 dark:border-red-400!;
  }

  .field_with_errors input,
  .field_with_errors textarea {
    @apply border;
  }

  mark {
    @apply rounded-md py-0.5 px-1.5 text-yellow-800 bg-yellow-100 text-sm dark:text-yellow-500/85 dark:bg-yellow-900/50;
  }
  .mark-gray {
    @apply text-gray-700 bg-gray-200 dark:text-gray-300/80 dark:bg-gray-600/80;
  }

  /* Progress Widget */
  .progress-container {
    @apply w-full h-4 rounded-full overflow-hidden relative;
  }
  .progress-amount {
    @apply text-right leading-[1.1] px-1 font-black text-sm text-shadow-xs text-gray-100;
  }
}
