@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("sf-mono-regular-webfont.woff2") format("woff2");
  font-family: "SF Mono";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("noto-emoji-400.woff2") format("woff2");
  font-family: "Noto Emoji";
}

@font-face {
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url("BricolageGrotesque-var.woff2") format("woff2");
  font-family: "Bricolage Grotesque";
  font-display: auto;
  font-optical-sizing: auto;
}
