@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("sf-mono-regular-webfont.woff2") format("woff2");
  font-family: "SF Mono";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("noto-emoji-400.woff2") format("woff2");
  font-family: "Noto Emoji";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url("BricolageGrotesque-Regular.woff2") format("woff2");
  font-family: "Bricolage Grotesque";
  font-display: auto;
}

/* Medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url("BricolageGrotesque-Medium.woff2") format("woff2");
  font-family: "Bricolage Grotesque";
  font-display: auto;
}

/* Bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url("BricolageGrotesque-Bold.woff2") format("woff2");
  font-family: "Bricolage Grotesque";
  font-display: auto;
}

/* Black */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url("BricolageGrotesque-ExtraBold.woff2") format("woff2");
  font-family: "Bricolage Grotesque";
  font-display: auto;
}
