:root {
  --ss-primary-color: var(--color-blue-600);
  --ss-bg-color: #ffffff;
  --ss-font-color: var(--text-current);
  --ss-font-placeholder-color: var(--color-gray-500);
  --ss-disabled-color: var(--color-gray-200);
  --ss-border-color: var(--color-gray-300);
  --ss-highlight-color: var(--color-yellow-600);
  --ss-success-color: var(--color-lime-600);
  --ss-error-color: var(--color-red-600);
  --ss-focus-color: transparent;
  --ss-main-height: 42px;
  --ss-content-height: 300px;
  --ss-spacing-l: 10px;
  --ss-spacing-m: 8px;
  --ss-spacing-s: 6px;
  --ss-animation-timing: 0.2s;
  --ss-border-radius: 4px;
}
@keyframes ss-valueIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ss-valueOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@layer components {
  .ss-hide {
    display: none !important;
  }
  .ss-main {
    @apply border rounded-sm;

    display: flex;
    position: relative;
    flex-direction: row;
    transition: background-color var(--ss-animation-timing);
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
    padding: var(--ss-spacing-s);
    width: 100%;
    min-height: var(--ss-main-height);
    overflow: hidden;
    color: var(--ss-font-color);
    user-select: none;
  }
  .ss-main:focus {
    box-shadow: 0 0 5px var(--ss-focus-color);
  }
  .ss-main.ss-disabled {
    cursor: not-allowed;
    background-color: var(--ss-disabled-color);
  }
  .ss-main.ss-disabled .ss-values .ss-disabled {
    color: var(--ss-font-color);
  }
  .ss-main.ss-disabled .ss-values .ss-value .ss-value-delete {
    cursor: not-allowed;
  }
  .ss-main.ss-open-above {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .ss-main.ss-open-below {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .ss-main .ss-values {
    display: inline-flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    gap: var(--ss-spacing-m);
  }
  .ss-main .ss-values .ss-placeholder {
    display: flex;
    align-items: center;
    margin: auto 0px auto 0px;
    padding: var(--ss-spacing-s) var(--ss-spacing-m) var(--ss-spacing-s)
      var(--ss-spacing-m);
    width: 100%;
    overflow: hidden;
    color: var(--ss-font-placeholder-color);
    line-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ss-main .ss-values .ss-max {
    @apply flex rounded-sm;

    align-items: center;
    background-color: var(--ss-primary-color);
    padding: var(--ss-spacing-s) var(--ss-spacing-m);
    width: fit-content;
    color: var(--ss-bg-color);
    font-size: 12px;
    line-height: 1;
    user-select: none;
  }
  .ss-main .ss-values .ss-single {
    display: flex;
    margin: auto 0px auto var(--ss-spacing-s);
  }
  .ss-main .ss-values .ss-value {
    @apply bg-blue-600 dark:bg-blue-900 rounded-sm;

    display: flex;
    align-items: center;
    animation-duration: var(--ss-animation-timing);
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: ss-valueIn;
    width: fit-content;
    user-select: none;
  }
  .ss-main .ss-values .ss-value.ss-value-out {
    animation-duration: var(--ss-animation-timing);
    animation-timing-function: ease-out;
    animation-name: ss-valueOut;
  }
  .ss-main .ss-values .ss-value .ss-value-text {
    @apply text-gray-100 dark:text-gray-300;

    padding: var(--ss-spacing-s) var(--ss-spacing-m);
    font-size: 12px;
    line-height: 1;
  }
  .ss-main .ss-values .ss-value .ss-value-delete {
    @apply border-none px-2 py-1;

    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: content-box;
    width: var(--ss-spacing-l);
    height: var(--ss-spacing-l);
  }
  .ss-main .ss-values .ss-value .ss-value-delete svg {
    width: var(--ss-spacing-l);
    height: var(--ss-spacing-l);
  }
  .ss-main .ss-values .ss-value .ss-value-delete svg path {
    @apply stroke-gray-100 dark:stroke-gray-300;

    fill: none;
    stroke-width: 14;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .ss-main .ss-deselect {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    padding: 0 var(--ss-spacing-m) 0 var(--ss-spacing-m);
    width: fit-content;
    height: auto;
  }
  .ss-main .ss-deselect svg {
    width: 8px;
    height: 8px;
  }
  .ss-main .ss-deselect svg path {
    fill: none;
    stroke: var(--ss-font-color);
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .ss-main .ss-arrow {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-end;
    align-items: center;
    margin: auto var(--ss-spacing-m) auto var(--ss-spacing-m);
    width: 12px;
    height: 12px;
  }
  .ss-main .ss-arrow path {
    fill: none;
    stroke: var(--ss-font-color);
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-timing-function: ease-out;
    transition: var(--ss-animation-timing);
  }
  .ss-content {
    @apply border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700;

    display: flex;
    position: absolute;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: center top;
    opacity: 0;
    z-index: 10000;
    transition:
      transform var(--ss-animation-timing),
      opacity var(--ss-animation-timing);
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-height: var(--ss-content-height);
    overflow: hidden;
  }
  .ss-content.ss-relative {
    position: relative;
    height: 100%;
  }
  .ss-content.ss-fixed {
    position: fixed;
  }
  .ss-content.ss-open-above {
    flex-direction: column-reverse;
    transform: scaleY(1);
    transform-origin: center bottom;
    opacity: 1;
    border-top-right-radius: var(--ss-border-radius);
    border-top-left-radius: var(--ss-border-radius);
  }
  .ss-content.ss-open-below {
    transform: scaleY(1);
    transform-origin: center top;
    opacity: 1;
    border-bottom-right-radius: var(--ss-border-radius);
    border-bottom-left-radius: var(--ss-border-radius);
  }
  .ss-content .ss-search {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    padding: var(--ss-spacing-l) var(--ss-spacing-l) var(--ss-spacing-m)
      var(--ss-spacing-l);
  }
  .ss-content .ss-search input {
    @apply rounded-sm border;

    display: inline-flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: var(--ss-spacing-m) var(--ss-spacing-l);
    width: 100%;
    min-width: 0px;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
  }
  .ss-content .ss-search input::placeholder {
    vertical-align: middle;
    color: var(--ss-font-placeholder-color);
  }
  .ss-content .ss-search input:focus {
    box-shadow: 0 0 5px var(--ss-focus-color);
  }
  .ss-content .ss-search .ss-addable {
    @apply border rounded-sm;

    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 var(--ss-spacing-m);
    height: auto;
  }
  .ss-content .ss-search .ss-addable svg {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-end;
    align-items: center;
    margin: auto var(--ss-spacing-m) auto var(--ss-spacing-m);
    width: 12px;
    height: 12px;
  }
  .ss-content .ss-search .ss-addable svg path {
    fill: none;
    stroke: var(--ss-font-color);
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .ss-content .ss-list {
    flex: 1 1 auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .ss-content .ss-list .ss-error {
    padding: var(--ss-spacing-l);
    color: var(--ss-error-color);
  }
  .ss-content .ss-list .ss-searching {
    padding: var(--ss-spacing-l);
    color: var(--ss-font-color);
  }
  .ss-content .ss-list .ss-optgroup.ss-close .ss-option {
    display: none !important;
  }
  .ss-content .ss-list .ss-optgroup .ss-optgroup-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m)
      var(--ss-spacing-l);
  }
  .ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-label-text {
    flex: 1 1 auto;
    color: var(--ss-font-color);
    font-weight: bold;
  }
  .ss-content .ss-list .ss-optgroup .ss-optgroup-label:has(.ss-arrow) {
    cursor: pointer;
  }
  .ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--ss-spacing-m);
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    cursor: pointer;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall:hover {
    opacity: 0.5;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall.ss-selected
    svg
    path {
    stroke: var(--ss-error-color);
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall
    span {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    padding: 0 var(--ss-spacing-s) 0 0;
    font-size: 60%;
    text-align: center;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall
    svg {
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall
    svg
    path {
    fill: none;
    stroke: var(--ss-success-color);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall
    svg:first-child {
    stroke-width: 5;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-selectall
    svg:last-child {
    stroke-width: 11;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-closable {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    cursor: pointer;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-closable
    .ss-arrow {
    flex: 1 1 auto;
    width: 10px;
    height: 10px;
  }
  .ss-content
    .ss-list
    .ss-optgroup
    .ss-optgroup-label
    .ss-optgroup-actions
    .ss-closable
    .ss-arrow
    path {
    fill: none;
    stroke: var(--ss-font-color);
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-timing-function: ease-out;
    transition: var(--ss-animation-timing);
  }
  .ss-content .ss-list .ss-optgroup .ss-option {
    padding: var(--ss-spacing-s) var(--ss-spacing-s) var(--ss-spacing-s)
      calc(var(--ss-spacing-l) * 3);
  }
  .ss-content .ss-list .ss-option {
    display: block;
    cursor: pointer;
    padding: var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m)
      var(--ss-spacing-l);
    color: var(--ss-font-color);
    user-select: none;
    white-space: normal;
  }
  .ss-content .ss-list .ss-option:hover {
    @apply bg-blue-600 hover:bg-blue-700 dark:bg-blue-900 dark:hover:bg-blue-800;

    color: var(--ss-bg-color);
  }
  .ss-content .ss-list .ss-option.ss-highlighted,
  .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    @apply bg-blue-600 hover:bg-blue-700 dark:bg-blue-900 dark:hover:bg-blue-800;
    color: var(--ss-bg-color);
  }
  .ss-content .ss-list .ss-option.ss-disabled {
    cursor: not-allowed;
  }
  .ss-content .ss-list .ss-option.ss-disabled:hover {
    color: var(--ss-font-color);
  }
  .ss-content .ss-list .ss-option .ss-search-highlight {
    display: inline-block;
  }
}
