= render "_shared/notice"

- if @config.sales_hook_disabled?
  article#webhook-error.h-fit.mx-auto.bg-red-100.rounded-xl.mb-8.text-red-700 class="dark:bg-red-800/60 dark:text-red-300"
    header.p-8.h-24.flex.justify-between.items-center.border-b-4.border-red-800/5.dark:border-red-950/30
      i.icn.text-3xl 🪝
      p.text-lg.font-semibold The WooCommerce Sales Webhook is Deactivated
      i.icn.text-3xl 🪝
    ol.list-decimal.h-fit.min-h-24.p-8.pl-16.text-lg
      li.mt-1 Change the webhook status to "Active" at <a href="https://store.handsomecake.com/wp-admin/admin.php?page=wc-settings&tab=advanced&section=webhooks&edit-webhook=3" target="_blank" class="link">the Woo settings page</a>.
      li.mt-2
        | Afterward, hide this notification using this button:
        = link_to "pull-last-orders", class: "btn-rounded btn-red bg-red-200/60 hover:bg-red-200 dark:bg-red-950 dark:hover:bg-red-900/70 text-sm ml-2", data: {"turbo-prefetch": "false"}
          | Confirm Woo Webhook Active

header
  h1 Dashboard

.section-border-base.section-wide
  h3.flex.justify-between.px-3.pt-4
    span Sales Debt
    span = @sale_debts.length
  table data-controller="table"
    thead
      th Title
      th Edition
      th Amount
    tbody
      - @sale_debts.first(5).each do |product|
        - if product.sale_edition_id.present?
          tr.hoverable(
            data-action="click->table#goTo"
            data-table-url-param=product_path(product.slug)
            data-table-id-param=product.sale_edition_id
          )
            td = product.full_title
            td = product.edition_name
            td = product.debt.to_i
        - else
          tr.hoverable(
            data-action="click->table#goTo"
            data-table-url-param=product_path(product.slug)
            data-table-id-param=product.id
          )
            td = product.full_title
            td -
            td = product.debt.to_i
      tr.hover:bg-transparent.hover:cursor-default
        td colspan="3" = link_to "See More...", debts_path

- if @suppliers_debts.present?
  .section-border-base.section-wide
    h3.flex.justify-between.px-3.pt-4
      span Suppliers Debt
      span = format_money @total_suppliers_debt, "$"
    table data-controller="table"
      thead
        th Supplier
        th.text-right Total Cost
        th Purchases Qty
        th.text-right Paid
        th.text-right Debt
      tbody
        - @suppliers_debts.each do |supplier_debt|
          - next if supplier_debt[:total_debt] == 0
          tr.hoverable(
            data-action="click->table#goTo"
            data-table-url-param=supplier_path(supplier_debt[:supplier])
          )
            td = supplier_debt[:supplier].title
            td.font-mono.text-right = format_money supplier_debt[:total_cost]
            td = supplier_debt[:total_size]
            td.font-mono.text-right = format_money supplier_debt[:paid]
            td.font-mono.text-right = format_money supplier_debt[:total_debt]
