= form_with model: purchase_item,
    class: "flex flex-col w-full gap-2 no_events",
    id: dom_id(purchase_item, :shipping_company),
    url: purchase_item_shipping_company_path(purchase_item),
    method: :patch do |form|

  = form.select :shipping_company_id,
    options_from_collection_for_select(ShippingCompany.ordered, :id, :name, purchase_item.shipping_company_id),
    {prompt: "Select a shipping company"},
    {class: "border rounded px-2 py-1 text-sm w-full min-w-35", autofocus: true}

  - if purchase_item.errors.any?
    p.text_error.text-xs.no_events
      = purchase_item.errors.full_messages.join(", ")

  .flex.gap-1.justify-center
    button.btn_rounded.btn_xs.btn_green type="submit" title="Save"
      i.icn ✅
      | Save
    = link_to purchase_item_path(purchase_item),
        class: "btn_red btn_xs btn_rounded",
        title: "Cancel" do
      i.icn ❎
      | Exit
