= render "_shared/notice"

= render "purchase_items/show/header", purchase_item: @purchase_item

.section-wide
  = render "purchase_items/show/details", purchase_item: @purchase_item

= destroy_btn_for @purchase_item
