= form_with url: warehouse_position_path(warehouse), method: :patch, data: {controller: "warehouse-position"}, class: "no-events m-auto" do |form|
  = select_tag :position,
    options_for_select((1..warehouses_count).to_a, warehouse.position),
    data: {action: "change->warehouse-position#changePosition", warehouse_id: warehouse.id}
