= render "_shared/notice"

= render "_shared/nav-index", model: @shipping_companies

.section-border-base.section-wide
  = render "shipping_companies/index/table", shipping_companies: @shipping_companies
