tr id="#{dom_id shape}"
  td
    == shape.id
  td
    == shape.title
  td
    == shape.created_at
  td
    == shape.updated_at
  - if action_name != "show" 
    td.actions
      == link_to shape
        i.icn 📄
        | Show
      == link_to edit_shape_path(shape)
        i.icn ✏️
        | Edit