tr id="#{dom_id shape}"
  td
    == shape.id
  td
    == shape.title
  td
    == shape.created_at
  td
    == shape.updated_at
  - if action_name != "show" 
    td
      == link_to shape
        <i class='icn'>📄</i> Show
      == link_to edit_shape_path(shape)
        <i class='icn'>✏️</i> Edit