.border.border-gray-200.dark:border-gray-800.rounded-xl.p-4.pb-8
  h6.font-semibold = title

  fieldset.flex.justify-between.gap-4.flex-col.lg:flex-row.pt-4.lg:pt-0
    .block.w-full
      = f.label :first_name
      = f.text_field :first_name
    .block.w-full
      = f.label :last_name
      = f.text_field :last_name
  fieldset.flex.justify-between.gap-4.flex-col.lg:flex-row
    .block.w-full
      = f.label :email
      = f.text_field :email, type: "email"
    .block.w-full
      = f.label :phone
      = f.text_field :phone, type: "tel"
  fieldset.flex.justify-between.gap-4.flex-col.lg:flex-row
    .block.w-full
      = f.label :address_1
      = f.text_field :address_1
    .block.w-full
      = f.label :address_2
      = f.text_field :address_2
  fieldset.flex.justify-between.gap-4.flex-col.lg:flex-row
    .block.w-full
      = f.label :country
      = f.text_field :country
    .block.w-full
      = f.label :state
      = f.text_field :state
    .block.w-full
      = f.label :city
      = f.text_field :city
    .block.w-full
      = f.label :postcode
      = f.text_field :postcode
  .block.w-full
    = f.label :company
    = f.text_field :company
