= form_with model: sale do |form|
  = form.label :customer_id
  = form.collection_select :customer_id, @customer_options || [], :id, :name_and_email, {}, slim_select_html_options

  .mt-4
    = form.label :note
    = form.text_field :note

  fieldset.flex.justify-between.gap-4.flex-col.lg:flex-row.mt-4.lg:mt-0
    .block.w-full
      = form.label :total, "Total price"
      = form.text_field :total
    .block.w-full
      = form.label :discount_total
      = form.text_field :discount_total
    .block.w-full
      = form.label :shipping_total
      = form.text_field :shipping_total

  label Status
  .flex.flex-wrap.gap-4.p-4.border.border-gray-200.rounded-md.dark:border-gray-800
    = form.collection_radio_buttons(:status, Sale.status_names, :itself, :titleize) do |rdb|
      .flex.items-center.mr-2
        = rdb.label(class: "m-0 p-0 flex items-center relative cursor-pointer")
          = rdb.radio_button class: "p-0"
        = rdb.label class: "m-0 p-0 pl-2 cursor-pointer text-sm"

  section.mt-8
    header.mb-4
      h2.label Addresses

    .grid.grid-cols-1.gap-6.lg:grid-cols-2
      = form.fields_for :shipping_address, (sale.shipping_address || SaleAddress.new) do |addr|
        = render "sales/form/address_fields", f: addr, title: "Shipping Address"
      = form.fields_for :billing_address, (sale.billing_address || SaleAddress.new) do |addr|
        = render "sales/form/address_fields", f: addr, title: "Billing Address"

  section.mt-8
    header.mb-4
      h2.label Products

    - form_sale_items = @sale_items || sale.sale_items.to_a
    div data-controller="sale-items"
      div.flex.flex-col.gap-6 data-sale-items-target="container"
        - form_sale_items.each_with_index do |sale_item, index|
          = fields_for "sale_items[#{index}]", sale_item do |sale_item_fields|
            = render "sales/form/sale_item_fields", f: sale_item_fields, sale_item: sale_item

      button.btn-rounded.mt-3 type="button" data-action="sale-items#addProduct"
        | Add Product

      template data-sale-items-target="template"
        = fields_for "sale_items[NEW_INDEX]", SaleItem.new do |sale_item_fields|
          = render "sales/form/sale_item_fields", f: sale_item_fields, sale_item: SaleItem.new

  = form_submit_for(sale, form)
