@layer components {
/* Dialogs */
  body:has(dialog[open]) {
    overflow: hidden;
  }

  dialog {
    @apply flex fixed inset-0 justify-center items-center z-999 backdrop-blur-sm border-0 bg-gray-300/50 dark:bg-gray-800/50 box-border p-2 w-full min-w-full h-full min-h-full;
  }

  dialog:not([open]),
  dialog[open="false"] {
    display: none;
  }

  .dialog_content {
    @apply bg-white dark:bg-gray-900 rounded-lg shadow-lg w-full max-w-full lg:max-w-3xl p-4 pb-6 translate-y-0 lg:-translate-y-10;
  }
}
