= turbo_stream.update @target
  - if @editions.present?
    = label :purchase, :edition
    = collection_select :purchase, :edition_id, @editions, :id, :title, { class: "select", include_blank: true }, data: { controller: "slim-select" }
