@layer base {
  /* Forms */
  form {
    @apply max-w-full min-w-0;
  }

  label {
    @apply block font-medium text-gray-900 dark:text-gray-100 mt-0 mb-2;
  }

  fieldset {
    @apply min-w-0 mb-4 lg:mb-0;
  }

  .form_row > div {
    @apply w-full;
  }

  label + p {
    @apply -mt-2 mb-4;
  }

  input:not(.rs__input),
  select,
  .ss-main,
  textarea,
  trix-editor {
    @apply appearance-none w-full pl-3 pr-10 py-1.5 cursor-pointer border border-gray-300/80 dark:border-gray-600/80 rounded-sm bg-white dark:bg-gray-800;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(.rs__input),
  select,
  .ss-main {
    @apply h-10;
  }

  textarea,
  trix-editor {
    @apply min-h-24;
  }

  *:disabled {
    @apply bg-gray-950/10! dark:border-gray-800!;
  }

  select:not([multiple], [size]) {
    @apply stroke-transparent;

    background-image: var(--icon-chevron-dark);
    background-position: center right 0.75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  input[type="file"] {
    @apply transition-all py-4 file:cursor-pointer file:bg-blue-600 dark:file:bg-blue-900 file:hover:bg-blue-700 dark:file:hover:bg-blue-800 dark:file:text-gray-100 file:text-white file:py-2 file:mr-4 file:font-medium file:px-3 file:rounded-full;
  }

  input[type="submit"],
  .btn_blue,
  button[data-variant="primary"] {
    @apply bg-blue-600 hover:bg-blue-700 dark:bg-blue-900 dark:hover:bg-blue-800 text-white px-3 w-fit border-transparent! h-10;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply cursor-pointer h-5 w-5 m-0 p-0 appearance-none bg-white dark:bg-gray-800 transition-all border-2 border-gray-300 dark:border-gray-600 checked:border-blue-600 dark:checked:border-blue-500;
  }

  input[type="checkbox"] {
    @apply rounded hover:border-blue-600/60 checked:bg-blue-600 dark:checked:bg-blue-500 mt-1;
  }

  input[type="checkbox"].red {
    @apply checked:border-red-600 dark:checked:border-red-800 checked:bg-red-600 dark:checked:bg-red-800 hover:border-red-600 dark:hover:border-red-800;
  }

  input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='4.5,12.75 10.5,18.75 19.5,5.25'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center center;
    background-size: 1.2em;
    background-repeat: no-repeat;
  }

  input[type="radio"] {
    @apply rounded-full checked:bg-white dark:checked:bg-gray-800 checked:border-6;
  }

  input[type="search"] {
    @apply w-full rounded-full px-4 py-1.5 border-gray-300 dark:border-gray-600;
  }

  .form_row {
    @apply flex justify-between gap-4 flex-col lg:flex-row;
  }

  .form_section_item {
    @apply p-4 pb-8;
  }

  .form_section_item_header {
    @apply flex justify-between items-start flex-col lg:flex-row lg:items-center gap-2 min-h-8;
  }

  .form_section_item_header h4 {
    @apply font-semibold;
  }

  .form_section_item_body {
    @apply flex justify-between gap-5 flex-col mt-6;
  }
}

@layer components {
  /* Forms: errors */
  .text_error,
  .field_with_errors label {
    @apply text-red-700 dark:text-red-400!;
  }

  .field_with_errors textarea,
  .field_with_errors trix-editor,
  .field_with_errors select,
  .field_with_errors input {
    @apply border-red-700 dark:border-red-400!;
  }

  .field_with_errors input,
  .field_with_errors textarea,
  .field_with_errors trix-editor {
    @apply border min-w-0;
  }

  .field_with_errors .rs__control {
    @apply border-red-700! dark:border-red-400!;
  }

  .field_with_errors .tiptap-editor {
    @apply border-red-700! dark:border-red-400!;
  }

  mark {
    @apply rounded-md py-0.5 px-1.5 text-yellow-800 bg-yellow-100 text-sm dark:text-yellow-500/85 dark:bg-yellow-900/50;
  }

  .mark_gray {
    @apply text-gray-700 bg-gray-200 dark:text-gray-300/80 dark:bg-gray-600/80;
  }
}
