.flex.flex-col.gap-4.items-start.justify-start.mt-14.lg:flex-row.lg:items-center
  = form.submit class: "w-full lg:w-fit"
  = link_to "Cancel", url_for(controller: model.model_name.plural.to_s, action: "index").to_s, class: "w-full lg:w-fit h-10"
