nav
  ul
    li
      h1.classic = model.model_name.plural.capitalize
  - if Rails.application.routes.url_helpers.respond_to?("new_#{model.name.downcase}_path")
    ul
      li
        = link_to controller: "#{model.model_name.plural}", action: "new"
          i.icn 🐣
          | New #{model.model_name.singular}
