- show_modal = false if local_assigns[:show_modal].nil?

header.nav_header
  h1 = model.model_name.plural.capitalize
  - if Rails.application.routes.url_helpers.respond_to?("new_#{model.name.downcase}_path")
    menu.nav_menu
      - if show_modal
        li data-controller="modal-trigger"
          = link_to "#sync",
            data: {action: "click->modal-trigger#open"}, class: "btn-rounded"
            i.icn 📥
            | Show Synchronization Menu
      li
        = link_to controller: model.model_name.plural.to_s, action: "new"
          i.icn 🐣
          | Add New Record
