nav
  ul
    li 
      h1 == model.model_name.plural.capitalize
  ul
    li   
      == link_to controller: "#{model.model_name.plural}", action: "new"
        i.icn 🐣
        | New #{model.model_name.singular}