- if notice.present?
  article.w-5xl.h-24.mx-auto.bg-lime-100.rounded-xl.flex.justify-between.items-center.p-8.mb-8.text-lime-700
    i.icn.text-3xl 🙏
    p.text-lg.font-semibold = sanitize(notice)
    i.icn.text-3xl 🙏

- if alert.present?
  article.w-5xl.h-24.mx-auto.bg-red-100.rounded-xl.flex.justify-between.items-center.p-8.mb-8.text-red-700
    i.icn.text-3xl 🚨
    p.text-lg.font-semibold = sanitize(alert)
    i.icn.text-3xl 🚨