- if notice.present?
  article.notice.is-info
    i.icn 😼
    == notice
    i.icn 😼

nav
  ul
    li 
      h1 Sizes
  ul
    li
      == link_to new_size_path
        i.icn 🐣
        | New size
main
  table(role="grid")
    thead
      tr
        th
          | ID
        th
          | Value
        th
          | Created
        th
          | Updated
        th
          | Actions
    tbody
      == render @sizes
