- if notice.present?
  article.notice.is-info
    i.icn 😼
    == notice
    i.icn 😼

nav
  ul
    li
      == link_to "Back to sizes", sizes_path
      h1
        == @size.value
  ul
    li
      == link_to edit_size_path(@size)
        i.icn ✏️
        | Edit

main
  table.vertical(role="grid")
    thead
      tr
        th
          | ID
        th
          | Value
        th
          | Created
        th
          | Updated
    tbody
      == render @size

== button_to 'Destroy this size', size_path(@size), method: :delete, class: "btn-danger"
