= render "_shared/notice"

= render "sale_items/show/header", sale_item: @sale_item

.section-wide.flex.flex-col.gap-8
  = render "sale_items/show/purchase_items", purchase_items: @sale_item.purchase_items
