= render "_shared/nav-new", model: @purchased_product, custom_link: link_to("To warehouse", warehouse_path(@warehouse))

main
  = render "form", purchased_product: @purchased_product, warehouse: @warehouse
