<div id="<%= dom_id version %>">
  <% if action_name != "show" %>
    <%= link_to "Show this version", version, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this version', edit_version_path(version), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
