- if notice.present?
  p
    == notice

nav
  ul
    li 
      h1 Versions
  ul
    li
      == link_to new_version_path
        <i class='icn'>🐣</i> New version
main
  table(role="grid")
    thead
      tr
        th
          | ID
        th
          | Value
        th
          | Created
        th
          | Updated
        th
          | Actions
    tbody
      == render @versions
