- if notice.present?
  article.notice.is-info
    i.icn 😼
    == notice
    i.icn 😼

nav
  ul
    li 
      h1 Colors
  ul
    li
      == link_to new_color_path
        i.icn 🐣
        | New color
main
  table(role="grid")
    thead
      tr
        th
          | ID
        th
          | Value
        th
          | Created
        th
          | Updated
        th
          | Actions
    tbody
      == render @colors
