- if notice.present?
  article.notice.is-info
    <i class="icn">😼</i> #{notice} <i class="icn">😼</i>

nav
  ul
    li
      == link_to "Back to franchises", franchises_path
      h1
        == @franchise.title
  ul
    li   
      == link_to edit_franchise_path(@franchise)
        <i class='icn'>✏️</i> Edit

main
  table.vertical(role="grid")
    thead
      tr
        th
          | ID
        th
          | Title
        th
          | Created
        th
          | Updated
    tbody
      == render @franchise

== button_to 'Destroy this franchise', franchise_path(@franchise), method: :delete, class: "btn-danger"  