.gallery {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--spacing-m);
  width: 600px;
  height: 600px;
  overflow: hidden;

  .gallery__nav {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-self: center;
    gap: 18px;
    padding: 24px 16px;
    width: 128px;
    height: 80%;
    overflow: scroll;

    img {
      border: 0px solid var(--table-row-stripped-background-color);

      &:hover {
        transform: scale3d(1.2, 1.2, 2);
        cursor: pointer;
      }
    }

    img.active {
      box-shadow: 0 0 6px 2px rgba(97, 184, 241, 0.5);
      border: 6px solid var(--table-row-stripped-background-color);
    }
  }

  .gallery__main {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100%;

    img {
      align-self: center;
    }
  }

  img {
    border-radius: 2px;
  }

  .gallery__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    background: transparent;
    width: 5rem;
    height: 100%;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 100;
    font-size: 2rem;

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }

    &:hover {
      background-color: var(--primary-focus);
      color: var(--primary);
    }

    &:focus {
      box-shadow: none;
    }
  }
}
