/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require pico
 *= require slimselect
 *= require_tree .
 *= require_self
 */

img.product {
  border-radius: var(--border-radius);
  width: 400px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* 
  MEDIA QUERIES
*/

@media only screen and (prefers-color-scheme: dark) {
  tr.selected {
    background: rgba(var(--rgb-debt-color), 0.1) !important;
  }

  tr.hoverable.selected:hover td {
    color: var(--color);
  }

  .preloadable-img__img.zoomable:hover {
    background-color: rgba(10, 10, 10, 0.5);
  }
}

@media (max-width: 1199px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing-xl);
  }

  body > main {
    max-width: 70vw;
  }
}

@media (min-width: 1200px) {
  body > footer,
  body > header,
  body > main {
    max-width: 70vw;
  }

  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing-l);
  }

  main.wide {
    margin: 0 -5rem;
  }
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(210deg 100% 50%);
  --primary-hover: hsl(210deg 100% 60%);
  --primary-focus: hsl(210deg 100% 80% / 15%);
  --primary-muted: hsl(210deg 100% 80% / 10%);
  --primary-unmuted: hsl(210deg 100% 30% / 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: hsl(210deg 100% 60%);
    --primary-hover: hsl(210deg 100% 70%);
  }
}

[data-theme="dark"] {
  --primary: hsl(210deg 100% 60%);
  --primary-hover: hsl(210deg 100% 70%);
}

@media (prefers-color-scheme: light) {
  table[role="grid"]:not(.vertical) tbody tr:nth-child(odd) {
    --table-row-stripped-background-color: oklch(0.99 0 0 / 1);
  }
}

@media (prefers-color-scheme: dark) {
  table tbody tr.hoverable:hover td {
    background-color: oklch(0.34 0.05 227.45 / 0.63);
  }

  .debts--card table tbody tr:nth-child(odd) {
    background-color: oklch(0.26 0.018 227.88 / 1);
  }
}
