/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --spacing-m: calc(var(--spacing) * 1.5);
  --spacing-l: calc(var(--spacing) * 2);
  --spacing-xl: calc(var(--spacing) * 3);
  --ss-primary-color: var(--primary-hover);
  --ss-bg-color: var(--background-color);
  --ss-font-color: var(--form-element-color);
  --ss-border-color: var(--form-element-border-color);
  --ss-border-radius: var(--border-radius);
  --ss-spacing-s: 4px;
  --ss-spacing-m: 8px;
  --ss-spacing-l: 10px;
  --table-left-part-width: 8rem;
  --table-spacing-vertical: 3rem;
  --table-left-part-padding: 1rem;
  --font-family: "Bricolage Grotesque", sans-serif;
  --form-element-spacing-vertical: 0.4rem;
  --box-shadow-menu: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}
@font-face {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  src: url("sf-mono-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Emo";
  font-style: normal;
  font-weight: 400;
  src: url("noto-emoji-400.woff2") format("woff2");
}
@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: auto;
  src: url("BricolageGrotesque-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: auto;
  src: url("BricolageGrotesque-Bold.woff2") format("woff2");
}
i.icn {
  font-family: "Noto Emo";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding-bottom: calc(var(--spacing) * 10);
}
@media (min-width: 992px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing-xl);
  }
}
@media (min-width: 1200px) {
  body > footer,
  body > header,
  body > main {
    max-width: 80vw;
  }
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: var(--spacing-l);
  }
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(210deg 100% 50%);
  --primary-hover: hsl(210deg 100% 60%);
  --primary-focus: hsl(210deg 100% 80% / 15%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: hsl(210deg 100% 60%);
    --primary-hover: hsl(210deg 100% 70%);
  }
}
[data-theme="dark"] {
  --primary: hsl(210deg 100% 60%);
  --primary-hover: hsl(210deg 100% 70%);
}
@media (prefers-color-scheme: light) {
  table[role="grid"]:not(.vertical) tbody tr:nth-child(odd) {
    --table-row-stripped-background-color: oklch(0.99 0 0 / 1);
  }
}
@media (prefers-color-scheme: dark) {
  table tbody tr.hoverable:hover td {
    background-color: oklch(0.18 0.02 226.88 / 1);
  }
  .debts--card table tbody tr:nth-child(odd) {
    background-color: oklch(0.26 0.018 227.88 / 1);
  }
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  font-size: var(--font-size);
}
main nav {
  align-items: baseline;
}
nav h1 {
  margin: 0;
}
ul nav {
  margin-left: var(--spacing);
}
nav ul nav li {
  padding-left: calc(var(--nav-element-spacing-horizontal) * 0.8);
  padding-right: calc(var(--nav-element-spacing-horizontal) * 0.8);
}
main main {
  margin: var(--block-spacing-vertical) 0;
}
body > header {
  padding-top: 1rem;
}
body > header > nav a {
  font-size: small;
  color: var(--muted-color);
  height: auto;
}
body > header > nav a:hover {
  color: var(--contrast);
}
.btn-danger {
  margin-top: var(--spacing-xl);
  background-color: var(--form-element-invalid-active-border-color);
  border-color: var(--form-element-invalid-active-border-color);
}

/* 
  TABLES start
*/
main > table th:last-of-type {
  text-align: right;
}
table thead th {
  font-size: smaller;
  font-weight: 700;
}
.vertical {
  width: fit-content;
  min-width: fit-content;
  margin: 0;
  margin-bottom: var(--table-spacing-vertical);
}
.vertical td,
.vertical th {
  display: block;
  border: none;

  font-size: inherit;

  padding: var(--spacing);
  padding-bottom: 0;
}
.vertical thead th {
  color: var(--muted-color);
  width: var(--table-left-part-width);

  padding-left: 0;

  font-weight: var(--font-weight);

  text-align: right;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.vertical thead,
.vertical tbody {
  float: left;
  border-radius: 8px;
  overflow: hidden;
}
.vertical td:last-of-type {
  padding-bottom: 1.5rem;
}
.vertical td {
  min-width: 20vw;
  max-width: 60vw;
}
td.fit {
  width: 10vw;
}
td.no-wrap {
  white-space: nowrap;
}
tr.hoverable {
  cursor: pointer;
}
tr.hoverable td {
  transition: all var(--transition);
}
tr.hoverable:hover td {
  background-color: var(--primary-focus);
  border-color: var(--primary-focus);
}
tr.hoverable .actions a {
  transition: all var(--transition);
}
tr.hoverable:hover .actions a {
  border-color: var(--primary-focus);
  filter: brightness(0.9);
}
td.right,
th.right {
  text-align: right;
}
td.v-bot {
  vertical-align: bottom;
}
td.actions {
  font-size: calc(var(--font-size) / 1.15);
  white-space: nowrap;
  text-align: right;
}
td.actions a {
  padding: 0.5em;
  border: 1px solid var(--muted-border-color);
  border-radius: var(--border-radius);
}
td.actions a:hover {
  border: 1px solid var(--primary-focus);
  background-color: var(--primary-focus);
  text-decoration: none;
}
td.actions a:not(:first-of-type) {
  margin-left: 0.25rem;
}
table a[data-turbo-method="delete"] {
  color: var(--form-element-invalid-active-border-color);
}
th {
  white-space: nowrap;
}
/* 
  TABLES end
*/

.logo {
  font-size: 2rem;
  color: var(--muted-color);
}
article:not(.notice) {
  padding-right: calc(var(--block-spacing-horizontal) * 2);
  padding-bottom: calc(var(--block-spacing-vertical) * 2);
}
article.notice {
  box-shadow: none;
}
article.notice.is-info {
  color: var(--form-element-valid-border-color);
  background: var(--form-element-valid-focus-color);
}
article.notice.is-error {
  color: var(--form-element-invalid-active-border-color);
  background: var(--form-element-invalid-focus-color);
}
article.notice.is-error ul {
  color: var(--form-element-invalid-border-color);
}
article.notice.is-info,
article.notice header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article.notice.is-error header {
  background: none;
  border-color: var(--form-element-invalid-focus-color);
}
article.notice .icn {
  font-size: 1.5rem;
}
.ss-main {
  min-height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );

  background-color: var(--form-element-background-color);
  padding: var(--form-element-spacing-vertical) 0;
  padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--form-element-spacing-horizontal);
  margin-bottom: var(--spacing);

  background-image: var(--icon-chevron);
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}
.ss-content .ss-search input {
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}
.ss-arrow {
  display: none;
  opacity: 0;
}
.ss-main .ss-values .ss-value .ss-value-text {
  font-size: var(--font-size);
}
.ss-main .ss-values .ss-value {
  background-color: var(--muted-color);
}
.ss-option {
  min-height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
}

progress.in-td {
  display: block;
}
.sign {
  opacity: 0.5;
  display: inline;
}
form.payment {
  padding-top: var(--spacing);
  padding-left: var(--spacing);
}
form.payment input[type="number"] {
  width: 40%;
  margin-right: 1rem;
}
form.payment input[type="submit"] {
  width: auto;
  margin: 0;
}
progress.no-mg {
  margin: 0;
}
.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.radio-buttons input,
.radio-buttons label {
  margin: 0;
}
.radio-btn {
  cursor: pointer;
  padding: 0.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid var(--muted-border-color);
  border-radius: var(--border-radius);
}
.radio-btn:hover {
  border: 1px solid var(--primary-focus);
  background-color: var(--primary-focus);
}
.radio-btn--label {
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
}
.sale_product {
  margin: 1.5rem 0;
}
a {
  height: 100%;
}
button.is-inverted {
  --background-color: var(--background-color);
  --color: var(--primary);
}
button.is-inverted:hover {
  --background-color: var(--primary-focus);
}

/* 
  PAGINATION start
*/
.pagination {
  padding: var(--spacing);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pagination-list {
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.pagination a {
  font-size: calc(var(--font-size) / 1.25);
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid var(--muted-border-color);
  white-space: nowrap;
}
.pagination a:hover {
  background-color: var(--primary-focus);
  border-color: var(--primary-focus);
}
.pagination a[rel="prev"] {
  order: 1;
  margin-left: var(--spacing);
}
.pagination a[rel="next"] {
  order: 2;
  margin-left: var(--spacing);
}
.pagination-link.is-current {
  background-color: var(--muted-border-color);
  border-color: var(--muted-border-color);
  color: var(--muted-color);
}
.pagination-link.is-current:hover {
  background-color: var(--muted-border-color);
  border-color: var(--muted-border-color);
  cursor: default;
}
/* 
  PAGINATION end
*/

.mono {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}
.mute {
  color: var(--muted-color);
}

.table-card {
  height: min-content;
  flex-grow: 1;
  padding-bottom: 0;
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.table-card.full-width {
  width: 100%;
}
.table-card.mg-t {
  margin-top: var(--spacing-xl);
}
.table-card h3 {
  margin: 0;
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  padding-bottom: 0;
}
.table-card table {
  margin-bottom: 0;
}
.table-card th {
  font-size: calc(var(--font-size) * 0.8);
  font-weight: 700;
}
.table-card tr:last-child td {
  border-bottom: 0;
}

.table-cards-group {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);
}
.table-cards-group {
  > .table-card {
    padding-bottom: 0;
  }
  > .table-card table {
    margin-bottom: 0;
  }
}

h1.classic {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  letter-spacing: -1px;
}

main.inner {
  margin: 0 -4rem;
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
}

main.inner.no-bd {
  border: none;
}

main.inner.v-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--spacing) * 2);
}

main.inner.w-pd {
  padding: 2.5vw 4vw 5vw 2vw;
}

@media (min-width: 1200px) {
  body > footer,
  body > header,
  body > main {
    max-width: 66vw;
  }
}

.purchase-show__payments {
  margin-bottom: var(--spacing-xl);
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: var(--typography-spacing-vertical);
  width: 100%;
}

.card {
  height: fit-content;
  padding: var(--spacing);
  padding-right: calc(var(--spacing) * 2);
  background: var(--table-row-stripped-background-color);
  border-radius: var(--border-radius);
  > .title {
    font-size: smaller;
    color: var(--muted-color);
  }
}

.card.grow {
  flex-grow: 1;
}

.dropdown {
  position: relative;
  height: min-content;
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
  transition: all var(--transition);
}
.dropdown__btn {
  padding: calc(var(--spacing) / 2);
  cursor: pointer;
}
.dropdown__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% - calc(var(--spacing) / 2));
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  background: var(--background-color);
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing) var(--spacing-l) var(--spacing-l) var(--spacing);
  box-shadow: var(--box-shadow-menu);
  transition: all var(--transition);
}
.dropdown__content li {
  margin: 0;
  padding: 0;
}
.dropdown:hover {
  background: var(--primary-focus);
}
.dropdown:hover .dropdown__content {
  visibility: visible;
  opacity: 1;
}
input {
  display: block;
}
[type="submit"] {
  margin-top: var(--spacing-xl);
}
img.product {
  height: auto;
  width: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
}
