html {
  scroll-behavior: smooth;
}

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-bottom: calc(var(--spacing) * 10);
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  font-size: var(--font-size);
}

main nav {
  align-items: baseline;
}

nav h1 {
  margin: 0;
}

ul nav {
  margin-left: var(--spacing);
}

header nav li {
  padding: 0 calc(var(--nav-element-spacing-horizontal) * 0.8);
}

nav ul nav li {
  padding-right: calc(var(--nav-element-spacing-horizontal) * 0.8);
  padding-left: calc(var(--nav-element-spacing-horizontal) * 0.8);
}

main main {
  /* margin: var(--block-spacing-vertical) 0; */
  margin: 0;
}

body > header {
  padding-top: 1rem;
}

body > header > nav a {
  height: auto;
  color: var(--muted-color);
  font-size: small;
}

body > header > nav a:hover {
  color: var(--contrast);
}

a {
  height: 100%;
}

input {
  display: block;
}

[type="submit"] {
  margin-top: var(--spacing-xl);
}

turbo-frame {
  transition: opacity 500ms ease-out;
}

turbo-frame[busy] {
  opacity: 0.35;

  &::before {
    display: none;
  }
}
