button {
  margin: 0;
}

.btn-danger {
  margin-top: var(--spacing-xl);
  border-color: var(--form-element-invalid-active-border-color);
  background-color: var(--form-element-invalid-active-border-color);
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.radio-buttons input,
.radio-buttons label {
  margin: 0;
}

.radio-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border: 1px solid var(--muted-border-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
}

.radio-btn:hover {
  border: 1px solid var(--primary-focus);
  background-color: var(--primary-focus);
}

.radio-btn--label {
  cursor: pointer;
  margin: 0;
  text-transform: capitalize;
}

button.is-inverted {
  --background-color: var(--background-color);
  --color: var(--primary);
}

button.is-inverted:hover {
  --background-color: var(--primary-focus);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--primary-unmuted);
  border-radius: var(--border-radius);

  padding: 0.75em;
  width: auto;
  font-size: calc(var(--font-size) / 1.25);
  text-decoration: none;
  white-space: nowrap;
}

.btn.is-primary {
  border-radius: var(--border-radius);
  background-color: var(--primary-muted);
}

.btn.is-primary:hover {
  border-color: var(--primary-focus);
  background-color: var(--primary-focus);
}

.btn .icn {
  font-size: inherit !important;
}

.btn.is-danger {
  border-color: rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 0, 0, 0.05);
  color: var(--form-element-invalid-active-border-color);
}

.btn.is-danger:hover {
  border-color: rgba(255, 0, 0, 0.12);
  background-color: rgba(255, 0, 0, 0.1);
}

.btn.xl {
  padding: 0.75em;
  font-size: calc(var(--font-size) * 1);
}
