form.payment {
  padding-top: var(--spacing);
  padding-left: var(--spacing);
}

form.payment input[type="number"] {
  margin-right: 1rem;
  width: 40%;
}

form.payment input[type="submit"] {
  margin: 0;
  width: auto;
}

.ss-main {
  margin-bottom: var(--spacing);

  background-image: var(--icon-chevron);
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;

  background-color: var(--form-element-background-color);
  padding: var(--form-element-spacing-vertical) 0;
  padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--form-element-spacing-horizontal);
  min-height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
}

.ss-content .ss-search input {
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

.ss-arrow {
  display: none;
  opacity: 0;
}

.ss-main .ss-values .ss-value .ss-value-text {
  font-size: var(--font-size);
}

.ss-main .ss-values .ss-value {
  background-color: var(--muted-color);
}

.ss-option {
  min-height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
}

.sales-form__product_fields {
  margin: 1.5rem 0;
}

.checkbox-remove:focus {
  border-color: red;
}

.checkbox-remove:checked {
  border-color: red;
  background-color: red;
}

.field_with_errors input {
  box-shadow: 2px 2px 8px var(--form-element-invalid-focus-color);
  border: 1px solid var(--form-element-invalid-border-color);
}
.field_with_errors label {
  color: var(--form-element-invalid-border-color);
}

.floating-form {
  position: fixed;
  right: 0;
  bottom: 1rem;
  left: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  box-shadow: var(--dropdown-box-shadow);
  border-radius: var(--border-radius);
  background: var(--transparent-bg);
  padding: 2rem;
  width: 80%;
}

.floating-form form {
  display: flex;
  align-items: center;
  margin: 0;
}

.floating-form form .select {
  margin: 0;
  padding: 0;
}

.floating-form form .btn {
  margin-left: 1.2rem;
  height: 2.6rem;
}

.floating-form form .ss-values {
  margin: auto 0px auto 1rem;
  height: 2.6rem;
}

.ss-main {
  transition: box-shadow 0.2s ease-in-out;
}

.ss-main:focus.has-error {
  box-shadow: 0 0 10px var(--ss-error-color) !important;
}
