.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing);
  text-align: center;
}

.pagination-list {
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
}

.pagination a {
  margin: 0;
  border: 1px solid var(--muted-border-color);
  padding: 0.5em 1em;
  font-size: calc(var(--font-size) / 1.25);
  white-space: nowrap;
}

.pagination a:hover {
  border-color: var(--primary-focus);
  background-color: var(--primary-focus);
}

.pagination a[rel="prev"] {
  order: 1;
  margin-left: var(--spacing);
}

.pagination a[rel="next"] {
  order: 2;
  margin-left: var(--spacing);
}

.pagination-link.is-current {
  border-color: var(--muted-border-color);
  background-color: var(--muted-border-color);
  color: var(--muted-color);
}

.pagination-link.is-current:hover {
  cursor: default;
  border-color: var(--muted-border-color);
  background-color: var(--muted-border-color);
}
