.flex {
  display: flex;

  &.gap {
    gap: calc(var(--spacing) * 2);
  }
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.mono {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

h1.classic {
  margin-bottom: 1.2rem;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -1px;
}

.mute {
  color: var(--muted-color);
}

.shrink-2 {
  flex-shrink: 2;
}

.shrink-4 {
  flex-shrink: 4;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.column {
  flex: 1;
}

.gap {
  gap: calc(var(--spacing) * 0.5);
}

.bold {
  font-weight: 700;
}

.break-words {
  word-break: break-all;
}

.fw-400 {
  font-weight: 400;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.underline {
  text-decoration: underline;
}

br.xl {
  margin: 2em 0;
}

.translate-y-1 {
  transform: translateY(0.25em);
}

.inline {
  display: inline;
}

.pd-2 {
  padding-top: 0.5rem;
}

.p {
  padding: var(--spacing);
}

.pointer {
  cursor: pointer;
}

.font-smaller {
  font-size: calc(var(--font-size) / 1.2);
}

.danger {
  color: rgb(var(--danger-color));
}

.relative {
  position: relative;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}
