tr id="#{dom_id brand}"
  td
    == brand.id
  td
    == brand.title
  td
    == brand.created_at
  td
    == brand.updated_at
  - if action_name != "show" 
    td
      == link_to brand
        <i class='icn'>📄</i> Show
      == link_to edit_brand_path(brand)
        <i class='icn'>✏️</i> Edit