| Hello #{@customer_name},
= "\r\n"
= "\r\n"
| Good news! The status of your order #{@order_number} has been updated.
= "\r\n"
= "\r\n"
| Previous Status: #{@previous_status}
= "\r\n"
| New Status: #{@new_status}
= "\r\n"
= "\r\n"
| Order Item: #{@item_name}
= "\r\n"
= "\r\n"
| If you have any questions about this update, don't hesitate to reach out to us at store@handsomecake.com or reply to this email.
= "\r\n"
= "\r\n"
| Thank you for shopping with us!
= "\r\n"
= "\r\n"
| Warm regards,
= "\r\n"
| The HandsomeCake Goodies Team