- data = {} if local_assigns[:data].nil?

.preloadable-img__container data-controller="preloadable-img" data-preloadable-img-src-value=src
  = image_tag "", class: "preloadable-img__img #{class_names}", style: "width: #{width}px;", data: {"preloadable-img-target":"img", **data}
  .preloadable-img__skeleton data-preloadable-img-target="skeleton" style="width: #{width}px; height: #{width * 1.2}px;"