tr.hoverable id="#{dom_id product}"
  td
    = product.woo_id
  td
    = link_to product
      = product.full_title
  - if action_name != "show" 
    td.actions
      = link_to product
        i.icn 📄
        | Show
      = link_to edit_product_path(product)
        i.icn ✏️
        | Edit
      = link_to product, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
        i.icn 💥
        | Destroy