- if notice.present?
  article.notice.is-info
    i.icn 😼
    == notice
    i.icn 😼

nav
  ul
    li 
      h1 Products
  ul
    li   
      == link_to new_product_path
        i.icn 🐣
        | New product
main
  table(role="grid")
    thead
      tr
        th
          | ID
        th
          | Full name
        th
          | Actions
    tbody
      == render @products
