tr id="#{dom_id supplier}"
  td = supplier.id
  td = supplier.title
  td = supplier.created_at
  td = supplier.updated_at
  - if action_name != "show" 
    td.actions
      = link_to supplier
        i.icn 📄
        | Show
      = render "_shared/action-edit", route: edit_supplier_path(supplier)
