tr id="#{dom_id supplier}"
  td
    == supplier.id
  td
    == supplier.title
  td
    == supplier.created_at
  td
    == supplier.updated_at
  - if action_name != "show" 
    td
      == link_to supplier
        <i class='icn'>📄</i> Show
      == link_to edit_supplier_path(supplier)
        <i class='icn'>✏️</i> Edit