div data-controller="warehouse-position"
  = select_tag :position,
    options_for_select((1..warehouses_count), warehouse.position),
    data: { warehouse_id: warehouse.id, action: "change->warehouse-position#changePosition"}, 
    class: "no-events w-fit m-auto"