= render "_shared/notice"
= render "_shared/nav-index", model: @warehouses

section.section-border-base.section-wide
  = render "warehouses/index/table", warehouses: @warehouses, warehouses_count: @warehouses.size
