= render "_shared/notice-err", model: @warehouse
= render "_shared/notice"

header.flex.justify-between.items-center.mb-8
  h1 = @warehouse.name
  menu.flex.gap-2.pt-2
    li = link_to new_purchase_item_path(warehouse_id: @warehouse)
      i.icn 📦
      | Add product
    li = back_btn
    li = edit_btn_for @warehouse

.section-border-base.section-wide.no-bd.flex.flex-col.gap
  - if @warehouse.purchase_items.present?
    = render "purchase_items"

  .table-card.full-width
    h3 About Warehouse
    .cards.items-center.p
      = render "_shared/gallery", images: @warehouse.images

      .card.grow
        h5 Name
        p = @warehouse.name
        h5 External Name for Clients
        p = safe_blank_render @warehouse.external_name
        h5 CBM
        p = safe_blank_render @warehouse.cbm
        h5 Container Tracking Number
        p = safe_blank_render @warehouse.container_tracking_number
        h5 Courier Tracking URL
        p
          - if @warehouse.courier_tracking_url.present?
            = link_to @warehouse.courier_tracking_url, @warehouse.courier_tracking_url, target: "_blank", rel: "noopener noreferrer"
          - else
            | -
        h5 Is Default?
        p = @warehouse.is_default ? "Yes" : "No"
        h5 Created At
        p = format_date @warehouse.created_at

= destroy_btn_for @warehouse
