- if (sale.active? || sale.completed?) && sale.has_unlinked_sale_items?
  a.btn-rounded.mr-3.text-sm.btn-lightblue href=link_purchase_items_sale_path data-turbo-prefetch="false"
    i.icn 🔗
    | Link with purchases