menu.flex.flex-col.gap-4.justify-between.pb-4
  li = link_to "Pull Last 50 Sales", pull_sales_path(limit: 50), class: "w-full h-15 btn-blue btn-rounded"
  li = link_to "Pull Everything", pull_sales_path, class: "w-full h-15 btn-rounded"
  li = link_to "Track Jobs Progress", "/jobs/statuses", class: "w-full h-15"