p = link_to "Pull Last 50 Sales", sync_sales_path(limit: 50), class: "btn is-primary xl fw"
p = link_to "Pull Everything", sync_sales_path, class: "btn xl fw"
p = link_to "Track Jobs Progress", "/jobs/statuses", class: "btn xl fw"